<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135261430260-n8gbobc4teu694mokot5cv0bn7ni1fvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135261430260-n8gbobc4teu694mokot5cv0bn7ni1fvm</string>
	<key>API_KEY</key>
	<string>AIzaSyDl4s0Omu88JAkviSgBsOLnet9PrCjulKc</string>
	<key>GCM_SENDER_ID</key>
	<string>135261430260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vidyamantra.cmoodleapp220</string>
	<key>PROJECT_ID</key>
	<string>vidyamantra-9ad1e</string>
	<key>STORAGE_BUCKET</key>
	<string>vidyamantra-9ad1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135261430260:ios:ec1ec2b89435dbbda199a1</string>
	<key>DATABASE_URL</key>
	<string>https://vidyamantra-9ad1e.firebaseio.com</string>
</dict>
</plist>